<a href="https://colab.research.google.com/github/Lindok209/gdp-dashboard/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task
Tell me about this dataset.

Here is all the data you need:
"adult.csv"

## Data loading

### Subtask:
Load the "adult.csv" dataset.

**Reasoning**:
Load the dataset and display its first few rows and shape to verify successful loading.

In [ ]:
!pip install aif360

Collecting aif360
  Downloading aif360-0.6.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.11/dist-packages (from aif360) (2.0.2)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from aif360) (1.15.3)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from aif360) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.11/dist-packages (from aif360) (1.6.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from aif360) (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->aif360) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->aif360) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->aif360) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->aif360) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->aif360) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24.0->aif360) (1.17.0)
Downloading aif360-0.6.1-py3-none-any.whl (259 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 259.7/259.7 kB 3.9 MB/s eta 0:00:00
Installing collected packages: aif360
Successfully installed aif360-0.6.1

Input

In [ ]:
import pandas as pd

try:
    df = pd.read_csv('adult.csv')
    display(df.head())
    print(df.shape)
except FileNotFoundError:
    print("Error: 'adult.csv' not found.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

(48842, 15)

## Data exploration

### Subtask:
Explore the loaded dataset to understand its characteristics.

**Reasoning**:
I need to explore the dataset's characteristics, including data types, shape, unique values, and potential missing values or inconsistencies.

In [ ]:
# Data Types and Shape
print("Data Types:\n", df.dtypes)
print("\nShape:\n", df.shape)

# Unique Values and Distributions
for col in df.columns:
    print(f"\nColumn: {col}")
    print(f"  Unique Values: {df[col].nunique()}")
    if df[col].nunique() < 20:  # Print value counts for categorical features with fewer unique values
        print(f"  Value Counts:\n{df[col].value_counts()}")
    else:
        print(f"  Descriptive Statistics:\n{df[col].describe()}")

# Missing Values
for col in df.columns:
    if df[col].dtype == 'object':
      missing_count = df[col].isin(['?']).sum()
      if missing_count > 0:
          print(f"\nColumn '{col}' has {missing_count} missing values (represented as '?').")
          print(f"  Percentage of missing values: {missing_count / len(df) * 100:.2f}%")

Data Types:
 age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

Shape:
 (48842, 15)

Column: age
  Unique Values: 74
  Descriptive Statistics:
count    48842.000000
mean        38.643585
std         13.710510
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

Column: workclass
  Unique Values: 9
  Value Counts:
workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

Column: fnlwgt
  Unique Values: 28523
  Descriptive Statistics:
count    4.884200e+04
mean     1.896641e+05
std      1.056040e+05
min      1.228500e+04
25%      1.175505e+05
50%      1.781445e+05
75%      2.376420e+05
max      1.490400e+06
Name: fnlwgt, dtype: float64

Column: education
  Unique Values: 16
  Value Counts:
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

Column: educational-num
  Unique Values: 16
  Value Counts:
educational-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64

Column: marital-status
  Unique Values: 7
  Value Counts:
marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

Column: occupation
  Unique Values: 15
  Value Counts:
occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

Column: relationship
  Unique Values: 6
  Value Counts:
relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

Column: race
  Unique Values: 5
  Value Counts:
race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

Column: gender
  Unique Values: 2
  Value Counts:
gender
Male      32650
Female    16192
Name: count, dtype: int64

Column: capital-gain
  Unique Values: 123
  Descriptive Statistics:
count    48842.000000
mean      1079.067626
std       7452.019058
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital-gain, dtype: float64

Column: capital-loss
  Unique Values: 99
  Descriptive Statistics:
count    48842.000000
mean        87.502314
std        403.004552
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital-loss, dtype: float64

Column: hours-per-week
  Unique Values: 96
  Descriptive Statistics:
count    48842.000000
mean        40.422382
std         12.391444
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

Column: native-country
  Unique Values: 42
  Descriptive Statistics:
count             48842
unique               42
top       United-States
freq              43832
Name: native-country, dtype: object

Column: income
  Unique Values: 2
  Value Counts:
income
<=50K    37155
>50K     11687
Name: count, dtype: int64

Column 'workclass' has 2799 missing values (represented as '?').
  Percentage of missing values: 5.73%

Column 'occupation' has 2809 missing values (represented as '?').
  Percentage of missing values: 5.75%

Column 'native-country' has 857 missing values (represented as '?').
  Percentage of missing values: 1.75%

**Reasoning**:
The previous code block's output was truncated. I need to complete the execution and analysis of the data.  I will also check for missing values in numerical columns which were not done in the previous step.

In [ ]:
# Continue printing the descriptive statistics from the previous code block
for col in df.columns:
    print(f"\nColumn: {col}")
    print(f"  Unique Values: {df[col].nunique()}")
    if df[col].nunique() < 20:  # Print value counts for categorical features with fewer unique values
        print(f"  Value Counts:\n{df[col].value_counts()}")
    else:
        print(f"  Descriptive Statistics:\n{df[col].describe()}")

# Check for missing values in numerical columns (represented by other values than '?')
for col in df.columns:
    if df[col].dtype != 'object':
        missing_count = df[col].isnull().sum()
        if missing_count > 0:
            print(f"\nColumn '{col}' has {missing_count} missing values.")
            print(f"  Percentage of missing values: {missing_count / len(df) * 100:.2f}%")

# Analyze 'income' column
print(f"\nColumn: income")
print(f"  Value Counts:\n{df['income'].value_counts()}")

Column: age
  Unique Values: 74
  Descriptive Statistics:
count    48842.000000
mean        38.643585
std         13.710510
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

Column: workclass
  Unique Values: 9
  Value Counts:
workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

Column: fnlwgt
  Unique Values: 28523
  Descriptive Statistics:
count    4.884200e+04
mean     1.896641e+05
std      1.056040e+05
min      1.228500e+04
25%      1.175505e+05
50%      1.781445e+05
75%      2.376420e+05
max      1.490400e+06
Name: fnlwgt, dtype: float64

Column: education
  Unique Values: 16
  Value Counts:
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

Column: educational-num
  Unique Values: 16
  Value Counts:
educational-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64

Column: marital-status
  Unique Values: 7
  Value Counts:
marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

Column: occupation
  Unique Values: 15
  Value Counts:
occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

Column: relationship
  Unique Values: 6
  Value Counts:
relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

Column: race
  Unique Values: 5
  Value Counts:
race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

Column: gender
  Unique Values: 2
  Value Counts:
gender
Male      32650
Female    16192
Name: count, dtype: int64

Column: capital-gain
  Unique Values: 123
  Descriptive Statistics:
count    48842.000000
mean      1079.067626
std       7452.019058
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital-gain, dtype: float64

Column: capital-loss
  Unique Values: 99
  Descriptive Statistics:
count    48842.000000
mean        87.502314
std        403.004552
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital-loss, dtype: float64

Column: hours-per-week
  Unique Values: 96
  Descriptive Statistics:
count    48842.000000
mean        40.422382
std         12.391444
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

Column: native-country
  Unique Values: 42
  Descriptive Statistics:
count             48842
unique               42
top       United-States
freq              43832
Name: native-country, dtype: object

Column: income
  Unique Values: 2
  Value Counts:
income
<=50K    37155
>50K     11687
Name: count, dtype: int64

Column: income
  Value Counts:
income
<=50K    37155
>50K     11687
Name: count, dtype: int64

## Data analysis

### Subtask:
Analyze the dataset to gain insights into the data.

**Reasoning**:
Calculate descriptive statistics for numerical features, analyze frequency distribution of categorical features, investigate correlations between numerical features, and examine the relationship between numerical and target variable.

## Data visualization

### Subtask:
Visualize key features and relationships within the dataset.

**Reasoning**:
Generate visualizations to understand the data distribution and relationships between features, as per the subtask instructions.

**Reasoning**:
The previous code block generated some warnings about the use of `palette` in `seaborn.boxplot`.  I will correct the code to remove these warnings, and make some minor adjustments to the visualization to improve the clarity.  The figures were not displayed properly so I'll also make sure the plots are displayed.

## Summary:

### Q&A
There were no explicit questions asked in the task. However, the overall goal was to understand the "adult.csv" dataset through loading, exploration, analysis, and visualization.

### Data Analysis Key Findings
* **Missing Data:** The `workclass`, `occupation`, and `native.country` columns contain missing values represented by "?".
* **Income Imbalance:** The target variable, `income`, is imbalanced, with approximately 76% of individuals earning "<=50K" and 24% earning ">50K".
* **Numerical Feature Distributions:**  Histograms and box plots revealed the distributions of numerical features like `age`, `fnlwgt`, `education.num`, `capital.gain`, `capital.loss`, and `hours.per.week`, showing varying degrees of skewness and potential outliers.  For example, `capital.gain` and `capital.loss` appear highly skewed.
* **Relationships with Income:**  Visualizations and descriptive statistics highlighted relationships between numerical and categorical features and income levels. For example,  the analysis showed how the distribution of `hours.per.week` differs between income groups.  The proportion of individuals in different `education` and `marital.status` categories also varies significantly across income levels.


### Insights or Next Steps
* **Handle Missing Data:** Address the missing values in the `workclass`, `occupation`, and `native.country` columns using appropriate imputation techniques or removal strategies.
* **Mitigate Class Imbalance:** Explore techniques like oversampling the minority class, undersampling the majority class, or using cost-sensitive learning algorithms to address the income class imbalance during model training.